*{
    margin: 0;
    padding:0;
}
li{
    list-style: none;
}
body{
    position: relative;
    z-index: -999;

}
header{

    background-color: #F2F8F9;
    position: relative;
    z-index: -99;

}
header:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
#class_size{
    width:55%;
    float: left;
    margin-left: 5%;
    height: 300px;
}
body{

    margin: 0 auto;
}
#lxy_announcement{
    width: 40%;
    height: 300px;
    float:left;

    position: relative;

}
#lxy_announcement>img{
    position: absolute;
    width: 100%;
    height: 300px;
    opacity: .1;
    z-index: -1;
}
.lxy_newsBook{
    width: 80%;
    height: 280px;
    margin: 10px auto;

}
.lxy_newsBook>p{
    font-size: 20px;
    text-align: center;
}
#lxy_news_head{
    width: 100%;
}
#lxy_news_head>li{
    height: 80px;
}
#lxy_news_head>li:hover{
    box-shadow:4px 5px 15px #4D453E;
}
#lxy_news_head>li>img{
    width:16%;
    float: left;
    border-radius:50%;
}
#lxy_news_head>li>p{
     width: 80%;
     float: left;
    cursor: pointer;
    padding: 1%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#lxy_news_head>li>p>span{
    display: block;
    float: right;
    margin-right: 5%;
}
.LXY_top-right{
    overflow: hidden;
    background-image: url("../images/main_images/true (3).jpg");
    width: 100%;
    height: 245px;



}

ul.main_polaroids{
    width: 100%;
    background: url("../images/main_images/back.jpg");
    background-size:cover;
    height: 260px;
    padding-top: 30px;

}
ul.main_polaroids>li{
    display:inline;
}
ul.main_polaroids:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;

}
ul.main_polaroids>li>a{
    background:#fff;
    display:inline;
    float:left;
    margin:0 0 27px 30px;
    width:auto;
    padding:10px 10px 15px;
    text-align:center;
    font-family:"方正舒体";
    text-decoration:none;
    color:#333;
    font-size:18px;
    -webkit-box-shadow:0 3px 6px rgba(0,0,0, .25);/*外边框设置阴影效果*/
    -webkit-transition:-webkit-transform .15s linear;/*指定动画过渡时间和效果*/
}
ul.main_polaroids img{
    display:block;
    height:116px;
    margin-bottom:12px;
}
ul.main_polaroids a:after{content:attr(title);}/*获取元素的titles属性值，用作内容*/
ul.main_polaroids>li:nth-child(even) a{
    -webkit-transform:rotate(5deg);/*逆时针旋转5度*/
}
ul.main_polaroids>li:nth-child(odd) a{
    -webkit-transform:rotate(-5deg);/*逆时针旋转5度*/
}
ul.main_polaroids>li:nth-child(3n) a{
    position:relative;
    top:-5px;
    -webkit-transform:none;
}
ul.main_polaroids>li:nth-child(5n) a{
    position:relative;
    top:5px;
    -webkit-transform:rotate(-10deg);/*顺时针旋转5度*/
}

ul.main_polaroids>li a:hover{
    -webkit-transform:scale(1.15);/*放大倍数*/
    -webkit-box-shadow:0 3px 6px rgba(0,0,0, .5);
    position:relative;
    z-index:5;
}


