*{
    margin:0;
    padding: 0;
}

li{
    list-style: none;
}
/* 公共属性*/
header{
    width: 100%;
    overflow: hidden;
    padding: 0;!important;

}
#contain{
    padding: 0;
}
header:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility:hidden;
}
.main_nav{
    width: 16%;
    float: left;
    overflow: hidden;
    transition: all .3s linear;

}
.main_nav>img{
    position: absolute;
    z-index: -1;
    width: 16%;
    opacity: .5;

}
.main_nav_logo{
    text-align: center;
    line-height: 60px;
    height: 60px;
    background: linear-gradient(to right,#0F68CC,#05BDFD);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
    font-weight: bolder;

}
.main_nav_top{
    padding: 5% 0;
    text-align: center;
    color: #4D453E;
}
/*  隐藏个人信息栏*/
#personal{
    display: block;
    margin-left: 6%;
    font-size: 14px;
    position: relative;
}


.main_nav_top>img{
    width: 50px;
    height: 50px;
    border-radius: 26px;
}
.main_nav_top>p:nth-child(3){

    color: #4D453E;
 }
.main_nav_top>p:nth-child(4){
    width:70%;
    height: 35px;
    background-color: #00CE68;
    color: white;text-align: center;
    line-height: 35px;
    border-radius:5px;
    margin: 0 15%;
    cursor: pointer;
}
.main_nav_top>p:nth-child(4):hover{
    background-color:#00A855;

}
.main_nav_top>p:nth-child(4)>span{
    float: left;
    margin-left: 22%;
    font-size: 20px;

}
#main_nav_boot>li{
    overflow: hidden;
    position:relative;
    cursor: pointer;
    transition: all .3s linear;
}
#main_nav_boot>li>a{
    padding:5px 0 5px 20%;
    display: block;
    text-decoration: none;
    color: #4D453E;
    transition: all .3s linear;
    overflow: hidden;
}
#main_nav_boot>li>a>span:nth-child(1){
   font-size: 18px;
    display: block;
    float: left;
    margin-left: 17%;

}
#main_nav_boot>li>a>span:nth-child(2){
    margin-left: 4%;
    display: block;
    float: left;
    margin-top: 2%;
}
#main_nav_boot>li>a>span:nth-child(3){
    font-size: 18px;
    display: block;
    float: left;
    transition: all .3s linear;
    margin-left: 7%;
    /*;transform: rotate(90deg)*/
}
#main_nav_boot>li>a:hover{
   background-color: rgba(87,133,232,0.83);
}
#main_nav_boot>li>ul{
    position: absolute;
    width: 100%;
    left: 0;
}
#main_nav_boot>li>ul>li{

    transition: all .3s linear;
    overflow: hidden;
}
#main_nav_boot>li>ul>li>a{
     display: block;
     padding: 5px 20%;
     width: 100%;
     cursor: pointer;
     text-decoration: none;
    color: #4D453E;
     margin-left: 3%;
     transition: all .3s linear;
    overflow: hidden;
 }
#main_nav_boot>li>ul>li>a>span:nth-child(1){
    margin-left: 30%;
    display: block;
    float: left;
    font-size: 18px;

}
#main_nav_boot>li>ul>li>a>span:nth-child(2){
   margin-left:5%;
    float: left;
    display: block;

}
#main_nav_boot>li>ul>li>a:hover{
    background-color: rgba(87,133,232,0.83);
}
/*#main_nav_boot_three{*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*width: 100%;*/
    /*height: 100px;*/
    /*top:-150%;*/
    /*z-index: 999;*/
    /*background-color: green;*/
/*}*/

.main_content{
    width: 84%;
    float: left;

    transition: all .3s linear;
}
.main_content_top{
    width: 100%;
    background: linear-gradient(to right, #26BADA 0%,#5885E8 100%)
}
.main_content_top:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.main_top_left{
    float: left;
    width: 30%;
    height: 50px;

}
.main_top_left>p{
    height: 30px;
    width: 40px;
    margin-top: 10px;
    line-height: 30px;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left:5%;
}
.main_top_left>p>i{
   font-size: 35px;
    color: white;
}
.main_top_left>input{
    margin-left: 10%;
    background-color: rgba(72,51,107,0.02);
    border: none;
    outline: none;
    line-height: 50px;
    color: white;
    cursor: pointer;
}
.main_top_left>span{
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
    color: white;
    cursor: pointer;

}
.main_top_middle{
    float: left;
    width: 30%;
    height: 50px;
}
.main_top_right{
    float: left;
    width: 40%;
    height: 50px;

}
.main_top_right:after{
    content: "";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.main_mail,.main_news{
    width: 10%;
    height: 50px;
    float: left;
    margin-left: 5%;
    cursor: pointer;
    position: relative;
}
.main_mail>span,.main_news>span{
    display: inline-block;
    color: white;
    font-size: 20px;
    line-height: 50px;
}
.main_mail>p,.main_news>p{
    float: left;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    left: 15px;
    border-radius: 8px;
    color: white;
    text-align: center;
    line-height: 16px;
    background-color: #ac2925;
}
.main_mail_content,
.main_news_content{
    position: absolute;
    width: 250px;
    height: 0px;
    right: 0;
    top: 110%;

    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 10px 12px #d4d4d4;
    transition: all .3s linear;
}
.main_mail_content_top,
.main_news_content_top{
    padding: 2% 0;
    overflow: hidden;
}
.main_mail_content_top>p,
.main_news_content_top>p{
    text-align: center;
    padding:0 6%;
    float: left;
}
.main_mail_content_top>p:nth-child(2),
.main_news_content_top>p:nth-child(2){
    background-color: #8862E0;
    border-radius: 7px;
    cursor:pointer;
}

.main_mail_content>ul>li,
.main_news_content>ul>li{
    width: 100%;
    height: 50px;
    overflow: hidden;
    border-top: 1px solid #F2F2F2;
}
.main_mail_content>ul>li>img,
.main_news_content>ul>li>img{
    width: 15%;
    border-radius: 50%;
    float: left;
    margin-top:2%;
    margin-left: 10%;
}
.main_mail_content>ul>li>p,
.main_news_content>ul>li>p{
    float: left;
    width: 50%;
    margin:1px 10px;
}
.main_mail_content>ul>li>p>span,
.main_news_content>ul>li>p>span{
    float: right;

}
.main_login>p{
    line-height: 50px;
    color: white;
    float: left;
    margin-left:4%;
}
.main_login_Img{
    float: left;
    height: 50px;
    line-height: 50px;
    color: white;
    margin-left: 10%;
    cursor: pointer;
}
#main_content_break{
    width: 100%;
    height: 30px;
    background-color: #F2F8F9;
    overflow: hidden;
    margin: 0;
}
#main_content_break:after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
#main_content_break>li{
    text-align: center;
    float: left;
    height: 30px;
    cursor: pointer;
    margin-left: 1%;
    line-height: 30px;
}
#main_content_break>li>a{
    text-decoration: none;
    color: #0086b3;

}
#main_content_break>li>a>span{
    text-decoration: none;
    display: block;
    float: left;
}


.main_content_page>p:nth-child(1){
    margin-left: 3%;
    width: 8%;
    height: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #0086b3;
}





#main_Iframe{
    width:84%;
    margin: 0;!important;
    float: left;
    transition: all .3s linear
}
.main_middle_iarame{
    background-color: #F2F8F9;
}





